
.env
.pytest_cache/
site/
local_container.sh
**__pycache__**
.venv/
requirements_dev.in
requirements_dev.txt
src/dev_notebook.ipynb
**.ipynb_checkpoints**
src/local.py
.vscode/
*.pyc
nohup.out
**data/.GridConnection_cache/co2/CO2**
**data/.GridConnection_cache/price/price**
